form {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: left;
  margin-left: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 10px;
  color: blue;
  font-size: 30px;
}

input {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;

  height: 40px;

  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label:nth-child(4) {
  margin-bottom: 20px;
}

placeholder {
  font-size: 20 px;
}
input:focus,
input:hover,
input:active,
input:focus-visible {
  fill: blue;
}
input:focus,
input:hover,
input:active,
input:focus-visible {
  border: 1px solid blue;
}

button {
  width: 200px;
  height: 50px;
  line-height: 2;
  color: $white-text-color;
  background-color: pink;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border-color: blue;
  flex-shrink: 0;
}
